@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Email:</strong> <a href="mailto:jose.csousa22@gmail.com">jose.csousa22@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/Regulus01">github.com/Regulus01</a>
</address>
